%html
  %head
    = css :application
    %script{src: 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false'}
    = js :application
    %title
      Специальная акция от Абардача
  %body
    = yield
    = haml :modal
    -#= erb :metrika