%html
  %head
    = css :application
    %script{src: 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false'}
    = js :application
    %title
      Продажа готовых фирм с историей
  %body
    = yield
    = erb :metrika